.welcome{
    align-items: center;

    position: relative;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent; /* No background color */
    width: 100%;
    height: auto;
    margin: 0;
}

.video-element {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    border: none; /* No border */
    outline: none; /* No outline */
}
